body {
  font-size: 0.9em;
}

body.home {
  max-width: 40em;
  margin: 0 auto;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

table {
	width: 100%;
	background-color: white;
	border: 0;
	table-layout: fixed;
}

tr:nth-child(even) {
	background-color: #eee;
}

thead > tr:first-child {
	background-color: #ddd;
}

td, th {
  padding: 0.2em 0.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:nth-child(1), th:nth-child(1) {
  width: 1em;
}

td:nth-child(2), th:nth-child(2) {
  width: calc(100vw - 18em);
}

td:nth-child(3), th:nth-child(3) {
  width: 4em;
}

td:nth-child(2) {
  direction: rtl;
  text-align: left;
}

img.not-found {
  height: 50%;
  display: block;
  margin: 1em auto;
}
